

.App{
    margin:0px;
    padding:0px;
    .Top{
        width:100%;
        height:80px;
        background-color: #24292e;
        color:#fff;
        font-weight:600;
        font-size:14px;
        .icon{
            display:none;
        }
        
        .left-div{
            width:5%;
            height:100%;
            float:left;
            margin-top:27px;
            #top-site{
                margin-left:15px;
            }
            
        }
        .left-div-second{
            width:25%;
            float:left;
            input{
                font-weight:300;
                width:27vw;;
                height:28px;
                margin-top:28px;
                margin-left:0px;
                background-color: hsla(0,0%,100%,.125);
                background-image:url("https://github.githubassets.com/images/search-key-slash.svg");
                background-position:25vw 4px;
                background-repeat: no-repeat;
                border: none;
                border-color: transparent;
                border-radius:2px;


                 
            }
        }
        .middle-div{
            width:60%;
            float:left;
            overflow:hidden;
            margin-top:3px;
            li{
                display:inline-block;
                overflow:hidden;
                padding:5px;  
                margin-top:13px;  
                font-weight:bolder;
                &:hover{
                    color:hsla(0,0%,100%,.7);
                }
                    }
        }
    .super{
        .right-div{
            float:left;
            width:2%;  
            fill:currentcolor;
            color:white;
            margin-top:35px;
            
        }
        .right-div-second{
            width:8%;
            float:left;
            fill:currentcolor;
            color:white;
            margin-top:30px;
            cursor:pointer;
            img{
                width:20px;
                border-radius:0px 5px 0px 0px; 
            }
            .plus-option-bar{
                position: absolute;
                background-color:white ;
                width:200px;
                
                right:70px;
                z-index:2;
                color:blue;
                
                ul{
                    list-style-type:none;
                   
                    li{
                        padding:10px;
                        display:block;
                        padding:10px;
                        
                        color:black;
                        &:hover{
                            background-color: blue;
                            
                        }
                    }
                }
            }

            .image-option-bar{
                position: absolute;
                background-color:white ;
                width:200px;
                
                right:30px;
                z-index:2;
                color:blue;
                .datatext{
                    position: relative;
                    left:50px;
                    color:black;
                } 
                .smile{
                    position: relative;
                    
                    button{
                        position: relative;
                        left:50px;
                        width:120px;
                        .smileicon{
                            width:100px;
                            font-size:30px;
                            &:hover{
                                color:blue;
                            }
                        }
                    }
                }  
                
                ul{
                    list-style-type:none;
                   
                    li{
                        padding:10px;
                        overflow:hidden;
                        display:block;
                        padding:10px;
                        
                        color:black;
                        &:hover{
                            background-color: blue;
                            
                        }
                    }
                }
            }
        
           
            

            
        }
       

    }
    @media screen and(max-width:1100px){
        
            width:110%;
            height:60px;
            background-color: #24292e;
            &:hover{
                height:300px;
                .right-div{
                    position: absolute;
                    left:5.4vw;

                }
                .left-div-second{
                    display:block;
                }
                .middle-div{
                    display:block;
                }
                
            }
            .icon{
                display:block;
                position: relative;
                left:30px;
                top:20px;
                fill:currentColor;
                color:rgb(184, 161, 161);
              
                span{
                    color:white;
                }
            }
            .left-div{
               position: relative;
               left:45vw;
               top:-40px;
              
            }

            .super{
               
                .right-div{
                    margin-left:85vw;
                    margin-top:-2vh;
                }
                .right-div-second{
                    display:none;
                }
            }
          
            .left-div-second{
                display:none;
                input{
                   
                    margin-top:30px;
                    margin-left:-2vw;
                    width:90vw;
                    background-position:86vw 4px;
                }
            }
            .middle-div{
                display:none;
                margin-top:50px;
                margin-left:-34vw;
              
                ul{
                    li{
                        display: flex;
                        border-bottom:1px solid hsla(0,0%,100%,.15);
                    }
                }
            }
        
    }
       
}
    .bottom{
    display: grid;
    grid-template-columns:1fr 3fr;
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    @media screen and(max-width:780px){
        grid-template-columns: 1fr;
        
    
        
    }
    .left{
       
       
        background-color: white;
        padding:2rem;
        margin-left:-6vw;
        @media screen and(max-width:780px){
            display: grid;
            grid-template-columns:1fr 1fr;
            padding:0rem;
            padding-top:1rem;
            
            

        }
        

        .pic{
            img{
                width:23vw;
               
              
                border-radius:2vw;
                @media screen and(max-width:780px){
                    padding:0vw;
                }
            }

        }
        .details{
            margin-left:0rem;
           
            .details-name{
                    #dname{
                        color:black;
                        font-weight:bolder;
                        font-size:2vw;
                    }
                    #dmail{
                        color:#666;
                        font-weight:bolder;
                        font-size:1.5vw;

                    }
                    button{
                        width:20vw;
                        height:30px;
                        font-weight:bolder;
                    }
                    @media screen and(max-width:780px){
                        margin-left:-20vw;

                        #dname{
                            color:black;
                            font-weight:bolder;
                            font-size:3vw;
                        }
                        #dmail{
                            color:#666;
                            font-weight:bolder;
                            font-size:2vw;
    
                        }
                        button{
                            width:45vw;
                            height:5vw;
                            font-weight:bolder;
                        }
                        
                    }
                    
                
                
                
            }
          
            
            

           
        }
        .main-details{
            
            display:grid;
            grid-column-start:1;
            position: relative;
            left:1vw;
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
            font-size: 14px;
            line-height: 1;
            color: #24292e;
            #smail{
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
                font-size: 1vw;
                line-height: 1;
                color: #0366d6;
            }
            
            
            
            

            .front-end-developer{
                @media screen and(max-width:780px){
                    margin-left:0vw;
                
                }
                #sub{
                    color:#666;
                }
            }
            @media screen and(max-width:780px){
                font-size:10px;
                
            }
        }
     
    }
    .right{
        background-color:white;
        display: grid;
        grid-template-columns:1fr;
        margin-left:-3vw;
        .nav-bar{
            width:100%;
            margin-top:2vw;
            @media screen and (max-width:780px){
                margin-top:-7vh;
            }

            
            
            ul{
                border-bottom:1px solid #586069;
                position:sticky;
                top:0px;
                background-color: white;
                z-index:1;
               
                li{
                    display:inline-block;
                    margin:1vw;
                    font-size:1.2vw;
                    .check-count{
                        padding: 2px 5px;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 1;
                        color: #586069;
                        background-color: rgba(27,31,35,.08);
                        border-radius: 20px;
                    }
                    a{
                        color:black;
                        opacity:0.7;
                        font-weight:bolder;
                        text-decoration:none;
                        &:visited{
                        
                            border-bottom:1px solid #e36209;
                        
                        
                    }
                    &:hover {
                       color: #586069;
                    }
                    }
                    
                    @media screen and (max-width:780px){
                        font-size:2vw;
                    }
                }
            }
            .searcht{
                padding-bottom:2vw;
                display:grid;
                grid-template-columns: 3fr 2fr;
                grid-column-gap:2vw;

                .top{
                    input:focus {
                        outline: none; 
                        border: 1px solid blue;
                      }
                    .filt{
                        width:38vw;
                        min-height: 18px;
                        padding: 6px 8px;
                        font-size: 16px;
                        line-height: 20px;
                        color: #24292e;
                        vertical-align: middle;
                        background-color: #fff;
                        background-repeat: no-repeat;
                        background-position: right 8px center;
                        border: 1px solid #d1d5da;
                        border-radius: 3px;
                        outline: none;
                        box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
                    }
                }
                .bottom{
                 
                    .bottom-select-left{
                       
                   
                        width:10vw;
                        position: relative;
                        display: inline-block;
                        padding: 6px 12px;
                        left:-20px;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 20px;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        background-repeat: repeat-x;
                        background-position: -1px -1px;
                        background-size: 110% 110%;
                       
                        border-radius: .25em;
                        -webkit-appearance: none;
                        border: 1px solid #eaecef;
                        .opcolor{
                            font-style: normal;
                            font-weight: 500;
                            opacity: .75;
                            color:#24292e;
                        }
                         .troll{
                            font-size:1vw;
                        }

                        .left-menu{
                           
                            z-index:3;
                            position:absolute;
                            left:-148px;
                            top:40px;
                            width:300px;
                            background-color: #fff;
                            display: flex;
                            align-items: left;
                            flex-direction: column;
                           
                            .selectdiv{padding: 16px;
                            overflow: hidden;
                            color: #586069;
                            text-align: left;
                            cursor: pointer;
                            border: 0;
                            border-bottom: 1px solid #eaecef
                            }
                        
                           
                            border: 0;
                            border: 1px solid #eaecef;
                            
                     
                        }
                        .datamisses{
                            display:none;
                        } 
                        @media screen and(max-width:780px){
                            position: relative;
                            left:1vw;
                            width:15vw;
                            .left-menu{
                                position: absolute;
                                left:-0.5vw;
                            }
                        }

                        
                    } .bottom-select-right{
                        width:10vw;
                        position: relative;
                        left:1vw;
                        display: inline-block;
                        padding: 6px 12px;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 20px;
                        white-space: nowrap;
                        vertical-align: middle;
                        margin-left:-50px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        background-repeat: repeat-x;
                        background-position: -1px -1px;
                        background-size: 110% 110%;
                        border: 1px solid rgba(27,31,35,.2);
                        border-radius: .25em;
                        -webkit-appearance: none;
                        .opcolor{
                            font-style: normal;
                            font-weight: 500;
                            opacity: .75;
                            color:#24292e;
                        }
                        .troll{
                            font-size:1vw;
                        }
                        .right-menu{
                           
                            z-index:3;
                            position:absolute;
                            left:-100px;
                            top:40px;
                            width:260px;
                            background-color: #fff;
                            display: flex;
                            align-items: left;
                            flex-direction: column;
                            .selectdiv2{padding: 16px;
                                overflow: hidden;
                                color: #586069;
                                text-align: left;
                                cursor: pointer;
                                border: 0;
                                border-bottom: 1px solid #eaecef
                            }
                            border: 0;
                            border: 1px solid #eaecef;
                        }
                        @media screen and(max-width:780px){
                            position: relative;
                            left:35vw;
                            width:20vw;
                            top:-14.5vh;
                            .right-menu{
                                position: absolute;
                                left:0vw;
                            }
                        }

                           
                    }
                    .datamisses2{
                        display: none;
                    }
                    

                 

                }
                @media screen and (max-width:780px){
                    grid-template-columns: 1fr;
                    grid-row-gap:2vw;
                    .top{
                        .filt{
                            width:90vw;
                            height:25px;
                            margin-bottom:initial;
                        }
                    }
                   
                    
                }
                border-bottom:1px ridge #586069;
            }
            .user-details{
                color:green;
                font-size:1vw;
                display: grid;
                grid-template-columns: 4fr 1fr;
                grid-row-gap:1vw;
                
                border-top:1px ridge #586069;
                .user-top-left{

                    color: #0366d6;
                    font-weight:600;
                    font-size: 20px;
                    padding-top:20px;
                    padding-bottom:20px;
                    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
                    line-height:1.5;
                    #user-name{
                        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
                        line-height:1.5;

                    }
                    #user-des{
                           color: #586069;
                           font-size: 14px;
                            line-height: 1.5;
                            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
                    }
                    .bottom-header{
                        color: #586069;
                        font-size: 12px;
                        line-height: 3;
                        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
                      
                        #circle-data{
                            display:inline-block;
                            width:13px;
                            height:13px;
                            border-radius:50%;
                            background-color: #f1e05a;
                            position:relative;
                            top:2px;
                        }
                    }
                   
                    @media screen and (max-width:780px){
                        font-size:3vw;
                      
                    }
                    
                    
                }
               
                .user-bottom-left{
                    
                    button{
                   
                  
                    color:#24292e;
                    background-color: #eff3f6;
                    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
                    margin-top:30px;
                    margin-left:100px;
                    font-weight: 600;
                    border: 1px solid rgba(27,31,35,.2);
                    border-radius: .25em;
                    padding: 3px 10px;
                    font-size: 12px;
                    line-height: 20px;
                    &:hover{
                        background-color: #e6ebf1;
                        background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
                        background-position: -.5em;
                        border-color: rgba(27,31,35,.35);
                    }
                    }
                }
               
            }
        }
    }
}
}